body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaf6ff;
    text-align: center;
}

/* Header */
.header {
    background: linear-gradient(to right, #0052cc, #007bff);
    color: white;
    padding: 30px;
}

/* Navbar */
.navbar {
    background-color: #004aad;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: yellow;
}

/* Content */
.content {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

/* Heading Color */
.content h2 {
    color: #004aad;
}

/* Footer */
.footer {
    background-color: #0052cc;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
